@charset "UTF-8";
/* CSS Document */
body {
    background-color: #f0e69d;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* h1にアニメーションを適用 */
h1 {
    color: #cc8e1c;
    text-align: center;
    animation: float 3s ease-in-out infinite; /* アニメーションを適用 */
}

/* アニメーションの定義 */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* 上に10px移動 */
    100% { transform: translateY(0); }
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h2 {
    color: #cc8e1c;
    text-align: center;
}

p {
    color: #483c3c;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

/* 画像のスタイル */
.image-container {
    display: flex; /* フレックスボックスで横並びに */
    justify-content: center; /* 中央揃え */
    gap: 5px; /* 画像間のスペースを狭くする */
    margin-top: 20px; /* 上部に余白を追加 */
}

.image-container img {
    border: 2px solid #ccc; /* 画像に枠線を追加（任意） */
    border-radius: 8px; /* 角を丸くする（任意） */
}


ul {
    list-style-type: none; /* デフォルトのリストスタイルを削除 */
    padding: 0; /* パディングを削除 */
}

li {
    margin: 5px 0; /* 各リストアイテムの上下に余白を追加 */
    color: #483c3c; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    text-align: center; /* 中央揃え */
    padding: 5px; /* パディングを追加 */
}

p {
    margin: 0; /* マージンを削除 */
    padding: 5px; /* パディングを追加 */
    color: #483c3c; /* テキストの色 */
    font-size: 16px; /* フォントサイズ */
    text-align: center; /* 中央揃え */
}

a {
    color: #ffff; /* リンクの色 */
    text-decoration: none; /* 下線を削除 */
    font-weight: bold; /* 太字にする */
    font-size: 16px; /* フォントサイズ */
    text-align: center; /* 中央揃え */
    display: block; /* ブロック要素にする */
    margin: 5px 0; /* 上下に余白を追加 */
    padding: 20px; /* パディングを追加 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #cc8e1c; /* 背景色を設定 */
    transition: background-color 0.3s; /* ホバー時の背景色変更にトランジションを追加 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 影を追加 */
    cursor: pointer; /* カーソルをポインターに変更 */ 
    width: 28%; /* 幅を28%に設定 */
    margin: 0 auto 80px; /* 中央揃え */
}

/* フッターのスタイル */
footer {
    background-color: #cc8e1c; /* フッターの背景色 */
    color: white; /* フッターのテキスト色 */
    text-align: center; /* テキストを中央揃え */
    padding: 20px; /* フッターのパディング */
    position: fixed; /* フッターを固定 */
    bottom: 0; /* 下部に配置 */
    width: 100%; /* 幅を100%に設定 */
    margin-left: -30px; /* 左に30px移動 */
}